{{poke-menu settings=menuSettings}}
<div class="poke-new">
	<ul class="poke-new-form">
		<li>
			{{#poke-error errors=errors field="name"}}
				<label class="poke-new-label" for="poke-name">Nome</label>
				{{input id="poke-name" value=name focus-out=(action validate "name")}}
			{{/poke-error}}
		</li>
		<li>
			{{#poke-error errors=errors field="height"}}
				<label class="poke-new-label" for="poke-height">Altura</label>
				{{poke-numeric-input id="poke-height" value=height maxlength="3" size="3" focus-out=(action validate "height")}}
			{{/poke-error}}
		</li>
		<li>
			{{#poke-error errors=errors field="weight"}}
				<label class="poke-new-label" for="poke-weight">Peso</label>
				{{poke-numeric-input id="poke-weight" value=weight maxlength="3" size="3" focus-out=(action validate "weight")}}
			{{/poke-error}}
		</li>
	</ul>
	<div class="poke-new-buttons">
		{{#poke-button onclick=(action "save")}}Salvar{{/poke-button}}
	</div>
	{{#if saving}}
		{{poke-loader message="Gravando..."}}
	{{/if}}
</div>

{{poke-modal message=modal.save.success.message buttons=modal.save.success.buttons show=showModal buttonPressed=(action "showList")}}
